/* ========================= Grundlayout ========================= */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #FFFFFF;
    color: #280003;
    line-height: 1.6;
}
main {
    margin-top: 30px;
}

/* ========================= Typografie ========================= */
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #009bb9;
    margin-top: 1.5em;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; 
     color: #00778F;
}
h3 { font-size: 1.2rem; 
     color: #00778F;
}

a { font-size: 1.2rem;
    color: #9BC996;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #9BC996;
}

/* ========================= Topbar ========================= */
.topbar {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:#00778F;
}
.topbar a {
    margin-left: 10px;
    color:#00778F;
}

/* ========================= Navigation ========================= */
.main-nav {
    display: flex;
    align-items: auto;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0.95rem;
}
.main-nav .nav-item:not(.subscribe) {
    color:  #280003;
    padding-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
}
.main-nav .nav-item:not(.subscribe):hover {
    color: #9BC996;
}
.main-nav .nav-item:not(.subscribe).active{
    color: #9BC996;
}
.subscribe {
  margin-left: auto;
}
.subscribe {
  background-color: #9BC996;   /* grün */
  color: #ffffff;              /* weiße Schrift */
  padding: 8px 16px;
  border-radius: 20px;         /* abgerundete Ecken */
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s ease, transform 0.15s ease;
}
.subscribe:hover {
  background-color: #82b880;   /* etwas dunkler */
  transform: translateY(-1px);
}
/* ========================== Boxen =================*/
.page-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.main-content {
  flex: 3;
}

.side-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #280003 ;
}

.info-box {
  padding: 1.2rem;
  border-radius: 6px;
  font-size: 0.95rem;
}

.box-1 {
  background-color: #EBE4E7;
}

.box-2 {
  background-color: #EBE4E7;
}
.box-3{
  background-color: #EBE4E7;
}

/* ========================= Dropdown / Accordion ========================= */
.accordion-button {
    background-color: #EBE4E7;
    color: #280003;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.2s ease;
}
.accordion-button:hover {
    background-color: #23748A;
}
.accordion-button.active {
    background-color: #009bb9; /* nach Klick */
    color: #FEF9FF;
}
.accordion-content {
    display: none;
    padding: 10px 15px;
    background-color: #E4E4F2;
    border-left: 2px solid #216E82;
    margin-bottom: 10px;
}
/* ==================== VIDEOS ========================================*/
.content-video,
.video-figure iframe {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}

.video-figure {
  margin: 40px 0;
}

.video-figure figcaption {
  text-align: center;
  font-weight: bold;
  color:  #216E82; /* dein Lila */
  margin-top: 10px;
  font-size: 0.95rem;
}

/* ========================= Markdown Content ========================= */
main ul { padding-left: 20px; }
main li { margin-bottom: 6px; }
main img { max-width: 60%; margin: 20px 0; }

