<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<!-- Topbar -->
<div class="topbar">
  <p><h1>DiseaseModelling</h3></p>
  <!-- optional -->
</div>

<!-- Navigation--> 
<nav class="main-nav">
  {% for page in nav %}
    <a class="nav-item {% if page_name == page[0] %}active{% endif %}"
       href="{{ page[0] }}.html">
       {{ page[1] }}
    </a>
  {% endfor %}
  <a class="nav-item subscribe" href="#subscribe">Subscribe</a>
</nav>

<!-- Seitenlayout -->
<div class="page-layout">


  <!-- LINKER BEREICH: Markdown -->
 <div class="main-content">
    {{ content | safe }}
  </div>
	
  <!-- RECHTER BEREICH: Info-Boxen -->
  <aside class="side-info">
    <div class"info-box box-3">
      <h3><p>Online Seminar Series</h3></p>
      <strong>Time:</strong> 1st or 2nd Wednesday of the month at <strong> 2pm</strong><br>
      <strong>Aim | Focus:</strong> Introduction, discussion and comparison of different mathematical modelling approaches.<br>
      <strong>Duration:</strong> 30 minutes talk +15' disussion</strong><br>
      <strong>Target Audience:</strong>PhD and master students, postdocs, group leaders in the modelling field <br>
      <strong>Location:</strong> <strong> Zoom</strong><br>
      <strong> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Join here</a></strong> <br>
      <strong> The talks at 2 pm. CET</strong>
    </div>

    <div class="info-box box-1">
      <strong><p>Co-Organizer</p>
	 Prof. Dr. Jana Wolf</strong>
      <p>Mathematical Modelling of Cellular Processes 
         Max Delbrück Zentrum für Molekulare Medizin (MDC)  Berlin
         und Mathematics and Computer Science
         Freie Universitat Berlin (FU)</p>
      	 contact:<br> <a href="mailto:office.wolf@mdc-berlin.de">office.wolf@mdc-berlin.de</a> or<br>
	<a href="https://www.mdc-berlin.de/wolf">J. Wolf Lab</a><br>
    </div>

    <div class="info-box box-2">
      <strong><p>Co-Organizer</p>
	 Prof. Dr. Kevin Thurley</strong>
      <p>Institute of Experimental Oncology (IEO), Biomathematics Division
        University Hospital Bonn </p>
        contact:<br> <a href="mailto:kthurley@uni-bonn.de">kthurley@uni-bonn.de</a> or <br>
	<a href="https://www.thurleylab.org/">ThrulyLab</a><br>
      </p>
    </div>
   
  </aside>

</div> 

<!-- Accordion Script -->
<script>
document.querySelectorAll('.accordion-button').forEach(button => {
  button.addEventListener('click', () => {
    button.classList.toggle('active');
    const content = button.nextElementSibling;
    content.style.display = content.style.display === "block" ? "none" : "block";
  });
});
</script>

</body>
</html>

